@charset "UTF-8";
/*========= ローディング画面のためのCSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #B34D36;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*========= 画面遷移アニメーション ===============*/
body{
    background:#B34D36;/*遷移アニメーションと同じ色を指定*/
}

body.appear{
    background:#fff;/*画面を開いた後の背景色を指定*/
}

.splashbg{
	position: fixed;
	top: 0;
	right:0;
	bottom:0;
	left: 0;
	border-width: 0px;/*開始はボーダーの太さは0*/
	border-style:solid;
    border-color: #B34D36;/*拡大する四角の色*/
	animation-duration:.5s;
	animation-fill-mode:forwards;
}

@keyframes backBoxAnime{
	99.9% {/*アニメーション終了ぎりぎりまで*/
        z-index: 2;/*最前面に*/
		border-width: 0px;/*開始はボーダーの太さは0*/
	}
    100%{
       z-index: -1; /*最背面に*/
        border-width: 0px;/*終了はボーダーの太さは0*/
    }
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
    position: relative;
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay:0.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
    }
}

/*========= video全面表示 ===============*/
.video-container {
    margin: 0 auto;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    /* background: url(img/video.jpg) no-repeat center center/cover; */
}

video {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
}

/*画面サイズが変わっても常に動画の中央が表示されるようにする*/
/*動画よりも画面が横に長くなるとき用*/
@media (aspect-ratio: 16/9), (min-aspect-ratio: 16/9) {
    video {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    }
}

/*動画よりも画面が縦に長くなるとき用*/
@media (max-aspect-ratio: 16/9) {
    video {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    }
}

/* 動画背景をグレー */
.overlay::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
}

/*========= 動画にドットフィルターをかける ===============*/
.movie {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.movie::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(#111 50%, transparent 51%), radial-gradient(#111 30%, transparent 31%);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
}

/*========= 動画上の文字設定 ===============*/
.top_video_box{
    /* 文字の間隔 */
    letter-spacing: 0.3rem;
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* 文字色 */
    color:#fff;
    /* 文字の太さ */
    font-weight: bold;
    /* 文字の位置 */
    text-align: center;
    /* グーグルフォント */
    font-family: 'Caveat', cursive;
    /* 黒のフィルタより前に出す */
    z-index: 1;
}

/*========= 流れるテキスト：一番目に実行===============*/
/*全共通*/
.slide-in {
	overflow: hidden;
    display: inline-block;
}

.slide-in_inner {
	display: inline-block;

}

/*左右のアニメーション*/
.leftAnime{
    opacity: 0;/*事前に透過0にして消しておく*/
    /* 文字サイズ */
    font-size: 4rem;
}

.slideAnimeLeftRight {
	animation-name:slideTextX100;
	animation-duration:0.8s;
	animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextX100 {
  from {
	transform: translateX(-100%); /*要素を左の枠外に移動*/
        opacity: 0;
  }

  to {
	transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft {
	animation-name:slideTextX-100;
	animation-duration:0.8s;
	animation-fill-mode:forwards;
    opacity: 0;
}

.slideAnimeRightLeft_jp {
	animation-name:slideTextX-100;
	animation-duration:0.8s;
	animation-fill-mode:forwards;
    opacity: 0;
}


@keyframes slideTextX-100 {
  from {
	transform: translateX(100%);/*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
	transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

/*========= 流れるテキスト：二番目に実行 ===============*/
/*左右のアニメーション*/
.leftAnime_jp{
    opacity: 0;/*事前に透過0にして消しておく*/
    /* 文字サイズ */
    font-size: 1.8rem;
}

.slideAnimeLeftRight_jp {
	animation-name:slideTextX100;
	animation-duration:0.8s;
	animation-fill-mode:forwards;
    opacity: 0;
}

/*========= WORKSの要素設定 ===============*/
.works_title_box{
    text-align: center;
}

.works_title_en{
    margin-top: 5rem;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
}

.works_title_jp{
    margin-top: 5rem;
    text-align: center;
    font-size: 1rem;
}

/*========= 事業内容の設定 ===============*/
/* 画像を親要素に設定 */
.service_box{
    position: relative;
    
}

/* コンテンツを子要素に設定 */
.service_contents{
    /* 文字を中央表示 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* 文字色 */
    color: #fff;
    text-align: center;
}

.service_title_box{
    text-align: center;
}

.service_title_en{
    margin-top: 5rem;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
}

.service_title_jp{
    margin-top: 5rem;
    text-align: center;
    font-size: 1rem;
}

.service_en{
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.service_jp{
    font-size: 1rem;
}

/*========= 会社概要 ===============*/
.about_us_box{
    margin-top: 5rem;
    background-image: url(../../img/about_us.jpg);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    height: 33rem;
    /* センター寄せ */
    position: relative;
    color: #fff;
}

/* 画像フィルタ */
.about_us_contents {
    background-color: rgba(0,0,0,0.6);
    height: 33rem;
    text-align: center;
    /* 上下中央 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_us_title{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-align: center;
}

.about_us_text{
    padding-top: 2rem;
    font-size: 1rem;
    line-height: 2.5rem;
}

.about_us_button_box{
    padding-top: 2rem;
    font-size: 1rem;
    line-height: 2.5rem;
}

/*========= 新着情報 ===============*/
/* 新着情報親要素 */
.information_title_box{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* 新着情報：英語 */
.information_title_en{
    margin-top: 5rem;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
}

/* 新着情報：日本語 */
.information_title_jp{
    margin-top: 5rem;
    text-align: center;
    font-size: 1rem;
}

/* 新着情報コンテンツ */
.information_contents{
    /* 下線表示 */
    border-bottom: dashed 1px;
    border-color:#D6D6D6;
    border-width:1px;/*5ピクセルの太さにする*/
    /* はみ出し部分：隠す・ドット */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2rem 0rem 2rem 0rem;
}

/* お知らせラベル要素 */
label {
    display: block;
}
  
/* お知らせラベルの設定   */
label.required:after {
    margin-left: 1.0em;
    padding: 3px 20px 3px 20px;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
    background-color: red;
    content: "お知らせ";
}

/*=== 9-1-3 マウスが動いてスクロールを促す ====*/
/*スクロールダウン全体の場所*/
.scrolldown3{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	bottom:10px;
	right:50%;
    /*マウスの動き1.6秒かけて動く永遠にループ*/
	animation:mousemove 1.6s ease-in-out infinite;
    z-index: 2;
}

/*下からの距離が変化して上から下に動く*/
@keyframes mousemove{
      0%{bottom:10px;}
      50%{bottom:5px;}
     100%{bottom:10px;}
 }

/*Scrollテキストの描写*/
.scrolldown3 span{
    /*描画位置*/
	position: absolute;
	left:-15px;
	bottom:45px;
    /*テキストの形状*/
	color: #eee;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
}

/*マウスの中の線描写 */
.scrolldown3 span::after{
	content: "";
    /*描画位置*/
	position: absolute;
	top:10px;
	left:17px;
    /*線の形状*/
	width: 1px;
	height: 15px;
	background: #eee;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: mousepathmove 1.4s linear infinite;
	opacity:0;
}

/*上からの距離・不透明度・高さが変化して上から下に流れる*/
@keyframes mousepathmove{
	0%{
		height:0;
		top:10px;
		opacity: 0;
	}
	50%{
		height:15px;
		opacity: 1;
	}
	100%{
		height:0;
		top:30px;
		opacity: 0;
	}
}

/*マウスの描写 */
.scrolldown3:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:-10px;
    /*マウスの形状*/
	width:25px;
	height:37px;
	border-radius: 10px;
	border:1px solid #eee;
}


/*マウスの中の丸の描写*/
.scrolldown3:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom:26px;
	left:0;
    /*丸の形状*/
	width:5px;
	height: 5px;
	border-radius: 50%;
	border:1px solid #eee;
}

/* 施工事例の設定 */
.click_reform_img{
    cursor: pointer;
}

/* 事業内容の画像の大きさ調整 */
.colorfilter-image{
    height: 17.5rem;
}

/*========= レスポンシブ ===============*/
/* スマホ */
@media (max-width: 768px) {
    
    /* top画面の親要素 */
    .top_video_box{
        width: inherit;
    }

    /* top画面の文字 */
    /*左右のアニメーション*/
    .leftAnime{
        /* 文字サイズ */
        font-size: 2.5rem;
    }

    /* top画面の日本語 */
    .leftAnime_jp{
        
        margin-top: 2rem;
        /* 文字サイズ */
        font-size: 1.0rem;
    }

    /* worksの文字設定 */
    .works_title_en{
        font-size: 2rem;
    }
    
    .works_title_jp{
        font-size: 1rem;
    }

    /* 事業内容 */
    /* タイトル：英語 */
    .service_title_en{
        font-size: 2rem;
    }
    /* タイトル日本語 */
    .service_title_jp{
        font-size: 1rem;
    }

    /* 英語：タイトル */
    .service_en{
        font-size: 1.5rem;
    }
    
    /* 英語：日本話 */
    .service_jp{
        font-size: 1rem;
    }

    /* 会社概要 */
    .about_us_box{
        height: 42rem;
        background-size: cover;
        background-attachment: inherit;
        background-position: 40% 0%;
    }

    /* 画像フィルタ */
    .about_us_contents {
        height: 42rem;
    }
    
    .about_us_title{
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }
    
    .about_us_text{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .about_us_button_box{
        font-size: 1rem;
    }

    /* 新着情報 */
    /* 新着情報：英語 */
    .information_title_en{
        font-size: 2rem;
    }

    /* 新着情報：日本語 */
    .information_title_jp{
        font-size: 1rem;
    }

    /* 新着情報コンテンツの上部padding */
    .information_contents_inner_pt{
        padding-top: 1.5rem;
    }
}