 /*========= フッター ===============*/
 /* 親要素 */
 .footer_box{
    background-color: #fff;
    height: 25rem;
    color: #fff;
}

/* ロゴボックスサイズ */
.footer_img_box{
    height: 25rem;
    /* 上下中央 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ロゴサイズ */
.footer_img_size{
    width: 16rem;
}

.footer_contents_box{
    padding-top: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;

    color: #111;

    letter-spacing: 0.1rem;
    /* padding: 5rem; */
}

.ul_box{
    padding: 0;
    margin-top: 2rem;
}

.li_box{
    width: 100%;
    margin-top: 1rem;
    list-style: none;
}

/* Copyright */
.copyright_box{
    text-align: center;
    background-color: red;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 0.7rem;
}