@charset "UTF-8";

/*========= フッター ===============*/
 /* 親要素 */
 .footer_box{
    background-color: #fff;
    height: 25rem;
    color: #fff;
}

/* ロゴボックスサイズ */
.footer_img_box{
    height: 25rem;
    /* 上下中央 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ロゴサイズ */
.footer_img_size{
    width: 16rem;
}

/* フッター内容のボックス */
.footer_contents_box{
    /* フッターの文字のパーディング */
    padding-top: 5rem;
    color: #111;
    letter-spacing: 0.1rem;
    /* padding: 5rem; */
}

/* ulのボックス */
.ul_box{
    padding: 0;
    margin-top: 2rem;
}

/* liのボックス・・御請求書 */
.li_box{
    width: 100%;
    margin-top: 1rem;
    list-style: none;
}

/* Copyright */
.copyright_box{
    text-align: center;
    background-color: red;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 0.7rem;
}

 /*========= レスポンシブ ===============*/
/* スマホ */
@media (max-width: 768px) {

    /* お問い合わせ：タイトル */
    .footer_contents_box{
        display: none;
    }

    /* ロゴボックスサイズ */
    .footer_img_box{
        height: 20rem;

    }

    /* ロゴサイズ */
    .footer_img_size{
        width: 13rem;
    }

    /* ロゴボックスサイズ */
    .footer_img_box{
        height: 15rem;

    }

    .footer_box{
        height: 15rem;
    }

}