@charset "UTF-8";

/*==================================
全体の設定
===================================*/
body{
    background-color: #B34D36;
}

/*==================================
パスワード入力失敗のメッセージの設定
===================================*/
.error_text{
    color: red;
    margin-top: 3rem;
    text-align: center;
}

.error_box_container{
    height: 32rem!important;
}

/*==================================
ボタン・ドロップダウン、セレクトボックスの文字大きさ
===================================*/
.form-control, .form-select, .btn, .dropdown-menu{
    font-size: 0.9rem;
}

/*==================================
背景色の設定
===================================*/
.main_container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_container{
    background-color: #ffffff;
    width: 40rem;
    height: 27rem;
    border-radius: 10px 10px 10px 10px;
}


/*==================================
ロゴ
===================================*/
/* ロゴ：要素 */
.logo_box{
    text-align: center;
}

/* ロゴ：サイズ */
.logo_size{
    width: 15rem;
    margin-top: 1rem;
}

/* パスワードを忘れた場合 */
.forgot_box{
    text-align: center;
}

