@charset "UTF-8";

body{
    background-color: #B34D36;
}

/*==================================
ボタン・ドロップダウン、セレクトボックスの文字大きさ
===================================*/
.form-control, .form-select, .btn, .dropdown-menu{
    font-size: 0.9rem;
}

/*==================================
マーカー風
===================================*/
.pink_line {
    background:linear-gradient(transparent 60%, #ffdfef 0%) ;
}

.markerBlue{
    background:linear-gradient(transparent 50%, #99ccff 0%);
}

.markerYellow{
    background:linear-gradient(transparent 50%, #ffffcc 0%);
}

.markerGreen{
    background:linear-gradient(transparent 50%, #ccffcc 0%);
}

/*==================================
背景色の設定
===================================*/
.main_container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_container{
    background-color: #ffffff;
    width: 40rem;
    height: 27rem;
    border-radius: 10px 10px 10px 10px;
}

/* エラーメッセージ表示後のボックスの大きさ調整 */
.box_container_after{
    height: 30rem;
}

.box_title{
    text-align: center;
    font-size: 1.5rem;
}

.logo_box{
    text-align: center;
}

/* ロゴサイズ */
.logo_size{
    width: 15rem;
    margin-top: 1rem;
}

.forgot_box{
    text-align: center;
}

