@charset "UTF-8";

body{
    background-color: #F3F3F3;
}

/*==================================
ボタン・ドロップダウン、セレクトボックスの文字大きさ
===================================*/
.form-control, .form-select, .btn, .dropdown-menu{
    font-size: 0.9rem;
}

/*==================================
テーブルの設定
===================================*/
/* 行間 */
.table-responsive > .table-condensed > thead > tr > th,
.table-responsive > .table-condensed > tbody > tr > th,
.table-responsive > .table-condensed > tfoot > tr > th,
.table-responsive > .table-condensed > thead > tr > td,
.table-responsive > .table-condensed > tbody > tr > td,
.table-responsive > .table-condensed > tfoot > tr > td {

    /* 5px の値を変更 */
    /* padding: 10px; */
    /* 見出し線、テーブル線のカスタマイズ */
    border-bottom: 1px solid #dee2e6!important;
    /* はみ出た部分を隠す */
    overflow: hidden;
    /* 折り返し無し */
    white-space: nowrap;

    font-size: 0.9em;

    /* cursor:pointer; */

    padding-left: 0;
}
/*==================================
ダッシュボードの設定
===================================*/
/* ダッシュボード：要素 */
.dashboard_top_box{
    padding: 1.5rem 1rem 1.5rem 1rem;
    line-height: 2rem;
	background-color: #ffffff;
}

/* ダッシュボードのタイトル文字設定 */
.dashboard_welcome_font{
    font-size: 1.5rem;
}

.dashboard_welcome_sub_font{
    color: #747370e9;
}

.dashboard_step_box{
    margin-top: 1.5rem;
}

/* 施工事例：要素 */
.reform_top_box{
    padding: 1.5rem 1rem 1.5rem 1rem;
    line-height: 2rem;
	background-color: #ffffff;
    height: 17.2rem;
}

/* その他投稿：要素 */
.post_top_box{
    padding: 1.5rem 1rem 1.5rem 1rem;
    line-height: 2rem;
	background-color: #ffffff;
    height: 17.2rem;
}


/* 概要：要素 */
.summary_top_box{
    padding: 1.5rem 1rem 1.5rem 1rem;
    line-height: 2rem;
	background-color: #ffffff;
    height: 29.6rem;
}

/* 概要：要素 */
.cart_top_box{
    padding: 1.5rem 1rem 1.5rem 1rem;
    line-height: 2rem;
	background-color: #ffffff;
    height: auto;
}

/*==================================
アクティビティの設定
===================================*/
.activity_font{
    font-size: 1.5rem;
}